/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 24, 2023, 9:59:36 AM
    Author     : ACER NITRO FPT
*/
.header{
    background-color: whitesmoke;
}

.content{
    margin-top: 20px;
}


#logo, #logo-alone{
    font-size: 40px;
    color: black;
}

#account-login{
    margin-left: 100px;
}

#search-bar{
    margin-top: 15px;
}

.card-img-top {
    max-height: 300px;
    /*min-height: 300px;*/
}

.card-container {
    height: 300px;
}
